/* src/App.css */
/* Keep this file strictly for CSS. No JavaScript or "import { useState }" allowed! */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}